.homepage-card { position: relative; flex: 0 0 40%; box-sizing: border-box; max-width: 100%; display: flex;
flex-direction: column; gap: 1rem; padding: 1rem; background-color: #0a2540; background-image: radial-gradient( at 88%
40%, #0a2540 0px, transparent 85% ), radial-gradient(at 49% 30%, #0a2540 0px, transparent 85%), radial-gradient(at 14%
26%, #0a2540 0px, transparent 85%), radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%), radial-gradient(at 100% 99%, hsla(306, 100%,
57%, 1) 0px, transparent 85%);

border-radius: 1rem; box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset; max-height: 100%; }

homepage-card-title-container { border-bottom: 1px solid #ffffff; }

.homepage-card-title { font-size: 4rem; color: #ffffff; text-align: left; margin: 10px; }

.homepage-card-explainer { width: 65%; font-size: 1.5rem; color: #ffffff; text-align: left; margin-left: 10px;
margin-top: 0px; margin-bottom: 0px; }

.homepage-card-list { display: flex; flex-direction: column; gap: 0.5rem; padding: 0px; margin-left: 10px; margin-top:
0px; margin-bottom: 0px; }

.homepage-card-list-item { display: flex; align-items: center; gap: 0.5rem; text-align: left; }

.homepage-card-list-item.li { list-style: none; }

.homepage-check { display: flex; justify-content: center; align-items: center; width: 1.5rem; height: 1.5rem;
background-color: #46d5bf; border-radius: 50%; }

.check_svg { width: 1rem; height: 1rem; fill: #000000; }

.homepage-list-text { font-size: 1rem; color: #ffffff; }

<!-- Homepage gradient card -->
<div class="homepage-card">
  <div class="homepage-card-title-container">
    <h2 class="homepage-card-title">Why shop with us?</h2>
    <p class="homepage-card-explainer">PokéDecks is a passionate small business which puts fans first!</p>
  </div>
  <ul class="homepage-card-list">
    <!-- Item 1 -->
    <li class="homepage-card-list-item">
      <div class="homepage-check">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="check_svg"
        >
            <path  fill-rule="evenodd"
          d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd" >
          </path>
        </svg>
      </div>
      <p class="homepage-list-text">Fair pricing - You won't find inflated prices here!</p>
    </li>
    <!-- Item 2 -->
    <li class="homepage-card-list-item">
      <div class="homepage-check">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="check_svg"
        >
            <path  fill-rule="evenodd"
          d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd" >
          </path>
        </svg>
      </div>
      <p class="homepage-list-text">Reliable pre-order service</p>
    </li>
    <!-- Item 3 -->
    <li class="homepage-card-list-item">
      <div class="homepage-check">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="check_svg"
        >
            <path  fill-rule="evenodd"
          d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd" >
          </path>
        </svg>
      </div>
      <p class="homepage-list-text">All orders packaged with care</p>
    </li>
    <!-- Item 4 -->
    <li class="homepage-card-list-item">
      <div class="homepage-check">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="check_svg"
        >
            <path  fill-rule="evenodd"
          d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd" >
          </path>
        </svg>
      </div>
      <p class="homepage-list-text">Subsidised shipping tracked 24 shipping</p>
    </li>
    <!-- Item 5 -->
    <li class="homepage-card-list-item">
      <div class="homepage-check">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="check_svg"
        >
            <path  fill-rule="evenodd"
          d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd" >
          </path>
        </svg>
      </div>
      <p class="homepage-list-text">Regular website updates</p>
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
